 * {
     box-sizing: border-box;
 }

 input {
     text-align: center;
     width: 150px;
 }

 a.disable {
     pointer-events: none;
     cursor: default;
 }

 #add {
     margin-bottom: 30px;
 }

 .card {
     float: left;
     width: 19%;
     height: 200px;
     margin: 5px;
 }

 #main {
     width: 100%;
     height: 1000px;
 }

 .cardTextArea {
     border: none;
     width: 85%;
     overflow: auto;
 }

 #addedImage {
     width: 100%;
 }


 body {
     background-image: url('./images/ireland/13.jpg');
     background-repeat: no-repeat;
     width: 100%;
     background-size: cover;
 }

 .form-signin {
     width: 100%;
     max-width: 330px;
     padding: 15px;
     margin: 0 auto;
 }

 .text-center {
     text-align: center;
 }

 #userNameForTitle {
     font-weight: bold;
 }

 #editImage {
     width: 100%;
 }

 a {
     color: black;
     font-weight: bold;
     /* border: 1px solid black; */
     background-color: thistle;
     padding: 4px;
     margin-right: 10px;
 }

 a:hover {
     color: white;
     font-weight: bold;
 }

 .btn-circle {
     width: 30px;
     height: 30px;
     border-radius: 15px;
     text-align: center;
     font-size: 100%;
     line-height: 1.42857;
     font-weight: bold;
     padding: 0px;
 }

 .btnFollowPosition,
 .btnFollowersPosition,
 .btnDelete,
 .btnEdit{
     position: absolute;
     right: 0;
 }

 .btnFollowersPosition {
     bottom: 1px;
 }

 .followBtnColor {
     color: black;
     background-color: yellow;
     border-color: #28a745;
 }

 .disabled {
     pointer-events: none;
 }
 
 .btnDelete,
 .btnEdit, .unFollowBtnColor {
    color: black;
    background-color: white;
    border-color: #28a745;
 }

 .btnDelete,.btnFollowPosition {
     top: 1px;
 }

 .btnEdit {
     top: 35px;
 }
